{
    "presets": [
        [
            "@babel/preset-env",
            {
                "tagets": {
                    "browsers": [
                        "last 2 versions",
                        "safari >= 7",
                        "ie >= 10"
                    ]
                }
            }
        ]
    ]
}